body {
	background-color: #fff;
	font-family: sans-serif;
}
div.page {
	width: 800px;
	margin: 100px auto auto auto;
	text-align: center;
}

h1 {
	 font-size: 2.0em; 
	 font-weight: bold;
}

p {
	 font-size: 1.1em; 	
}