body {
	background-color: #fff;
	font-family: sans-serif;
}
div.page {
	width: 800px;
	margin: 50px auto auto auto;
	text-align: center;
}

div.title {
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 10px;
}

div.subtitle {
	color: #999;
	margin-bottom: 50px;
}

div.main {
	margin-bottom: 50px;	
	line-height: 1.5;
}

div.footer {
	font-size: 0.9em;
}

